nav {
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
    padding: 1rem ;
    background-color: #f8f8f8;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 1em;
}

li {
    margin: 0 1em;
    text-transform: uppercase;
}